.friend{
    width: 100%;
    display: flex;
    justify-content: stretch;
  }
  .friend div{
      padding: 4px 5px;
  }


  .friend .ava img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .f_active{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .f_name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  .f_name{
    flex-grow: 2;
    font-size: 0.85rem;
  
  }
  
  .f_active{
    flex-grow: 1;
    color: #CCC;
    font-size: 0.7rem;
  }
  
  .friend .ava{
    width: 40px;
    flex-grow: 1;
  }

  .friend:hover{
    background-color: #E9E9E9;
  }
  
  
  
  