.friend{
    width: 100%;
    display: flex;
  }
  .friend div{
      padding: 4px 5px;
  }
  
  .friend:first-child{
    flex-shrink: 3;
  }
  .friend .ava img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .f_name, .f_active{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  .f_name{
    flex-grow: 3;
    font-size: 0.85rem;
  
  }
  
  .f_active{
    flex-grow: 1;
    color: #CCC;
    font-size: 0.7rem;
  }
  
  .friend:hover{
    background-color: #E9E9E9;
  }
  
  
  
  